{# index.twig #}
{% extends "partials/layout.twig" %}

{# Imports #}
{% import "components/section.twig" as section %}
{% import "components/links.twig" as links %}
{% import "components/media.twig" as media %}
{% import "components/list.twig" as list %}
{% import "components/paragraph.twig" as paragraph %}
{% import "components/title.twig" as title %}
{% import "partials/nav.twig" as nav %}
 
{% block page %}

    {# Navigation #}
    {% set logoNav =
    links.link(
        '',
        '#home',
        'home',
        media.img('class="logo--nav"','"../img/logo.png"','logo')
    )
    %}

    {% set navigation =
        list.ul(
            'class="navigation"',
            list.li('', links.link('class="link"', '#section-prez', "nextsection", 'Présentation')) ~ 
            list.li('', links.link('class="link"', '#section-metiers', "nextsection", 'Nos métiers')) ~
            list.li('', links.link('class="link"', '#section-galerie', "nextsection", 'Galerie')) ~
            list.li('', links.link('class="link"', '#section-contact', "nextsection", 'Contactez-nous'))
        )
    %}

    {{ nav.nav(logoNav,navigation) }}


    {# FULL page #}
    <div id="fullpage">
    
        {# Slide 1 #}
        {% set slide1Content = 
            media.img('class="logo--home"','"../img/logo.png"','logo') ~
            links.link('class="u-ta-center link link--scroll"', '#section-prez', "nextsection", 'Scroll')
        %}

        {{ section.section(
            'class="section section--home" data-anchor="home"',
            slide1Content
        ) }}

        {# Slide 2 #}
        {% set slide2right =
            paragraph.p('class="title title--section"',"Présentation") ~
            title.titleh2('class="title title--2"',"Lorem ipsum dolor sit amen") ~
            paragraph.p('class="medium"',"Lorem ipsum dolor sit amen para las conseguire")
        %}

        {{ section.sectionSplit(
            'class="section section--prez" data-anchor="section-prez"',
            "",
            slide2right
        ) }}

        {# Slide 3 #}
        {% set slide3Content = 
            links.link('class="u-ta-center link link--scroll"', '#home', "nextsection", 'Scroll')
        %}

        {{ section.section(
            'class="section section--metiers" data-anchor="section-metiers"',
            slide3Content
        ) }}

    </div>

{% endblock %}