.form {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.form input {
  background: transparent;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #797979;
  width: 100%;
  outline: none;
}

.form input:focus {
  border-bottom: 4px solid #00b5d6;
  padding-bottom: 7px;
  transition: all 0.3s;
}