.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.group-form {
  position: relative;
  margin-top: 15px;
}

.group-form label {
  display: block;
}

.group-form--input input{
  margin-top: 15px;
}

.group-form--input input {
  background: transparent;
  border: none;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #dadada;
  width: 100%;
  outline: none;
}

.group-form--input label {
  position: absolute;
}

.group-form--input input:empty + label {
  top: 15px;
  transition: all 0.3s;
}

.group-form--input input:focus {
  border-bottom: 4px solid #00b5d6;
  padding-bottom: 7px;
  transition: all 0.3s;
}

.group-form--input input:focus + label, .group-form--input input.filled + label {
  top: 0;
  font-size: 14px;
  color: #a2a2a2;
}

.group-form--input input:focus + label {
  transition: all 0.3s;
}

.group-form textarea {
  width: 100%;
  height: 80px;
  padding: 0;
  resize: vertical;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dadada;
  margin-top: 10px;
  outline: none;
}

.group-form textarea:focus {
  border-bottom: 4px solid #00b5d6;
  padding-bottom: 7px;
  transition: all 0.3s;
}

.group-form--input input.filled, .group-form textarea.filled {
  border-bottom: 1px solid #00b5d6;
}

.group-form input, .group-form textarea {
  font-weight: 700;
}