.gallery {
  position: relative;

  img {
    width: auto;
    height: 90vh;
    margin: 0 auto;
  }

  button{
    &:focus {
      outline: none;
    }
  }

  &-link:focus {
    outline: none;
  }
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  border: none;
  background: transparent;

  &:hover polyline,&:focus polyline {
    stroke-width: 3;
  }
}

.slick-arrow {

}

.slick-prev {

  left: 0;
  .slick-arrow {

  }
}
.slick-next {
  right: 0;

  .slick-arrow {

  }
}