// Color
.u-c-white { color: white }

.u-c-black { color: black }

// BackgroundColor
.u-bg-white { background-color: white }

.u-bg-black { background-color: black }

.u-bg-gradient {
    background-image: linear-gradient(to top, #00283f, #034764, #046a8b, #018eb1, #00b5d6);
}

// Display
.u-d-flex { display: flex };

.u-d-ib { display: inline-block };

// Flex option
.u-jc-center {
    justify-content: center;
}

.u-ai-center {
    align-items: center;
}

.u-fd-column {
    flex-direction: column;
}

// Margin
.u-m-0a {
    margin: 0 auto;
}

// padding
.u-p-15 {
    padding: 15px;
}

.u-pt-15 {
    padding-top: 15px;
}

.u-pb-15 {
    padding-bottom: 15px;
}

.u-pl-15 {
    padding-left: 15px;
}

.u-pr-15 {
    padding-right: 15px;
}

.u-pt-60 {
    padding-top: 60px;
}

// Width
.u-w-100p {
    width: 100%;
}
.u-w-60p {
    width: 60%;
}

// Height
.u-h-100p {
    height: 100%;
}

// Text
.u-ta-center {
    text-align: center;
}