// Color
.u-c-white { color: white }

.u-c-black { color: black }

// BackgroundColor
.u-bg-white { background-color: white }

.u-bg-black { background-color: black }

// Display
.u-d-flex { display: flex };

.u-d-ib { display: inline-block };

// Margin
.u-m-0a {
    margin: 0 auto;
}

// padding
.u-p-15 {
    padding: 15px;
}

.u-pt-15 {
    padding-top: 15px;
}

.u-pb-15 {
    padding-bottom: 15px;
}

.u-pl-15 {
    padding-left: 15px;
}

.u-pr-15 {
    padding-right: 15px;
}

// Width
.u-w-100p {
    width: 100%;
}

// Text
.u-ta-center {
    text-align: center;
}