// Color
.u-c-white { color: white }

.u-c-black { color: black }

// BackgroundColor
.u-bg-white { background-color: white }

.u-bg-black { background-color: black }

// Display
.u-d-flex { display: flex };

.u-d-ib { display: inline-block };

// Margin
.u-m-0a {
    margin: 0 auto;
}

// Width
.u-w-100p {
    width: 100%;
}

// Text
.u-ta-center {
    text-align: center;
}