.section--home {
    background-image: url("../img/bg-home.jpg");
    background-size: cover;

    .container {
        display: flex;
        flex-wrap: wrap;
    }
}

.logo--home {
    width: 400px;
    height: 100%;
    margin: 0 auto;
}