.link {
    color: white;
    text-decoration: underline;

    &:hover {
        color: white;
    }
}

.link--scroll {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-weight: 200;
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px 0px;
    width: 5%;
    margin: 0 auto;
}