.link {
    color: white;
    text-decoration: none;

    &:hover {
        color: #00b5d6;
        text-decoration: underline;
    }
}

.link--scroll {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.btn {
    border: none;
    font-weight: 700;
    padding: 15px 30px;
    color: white;
    background-color: #00b5d6;

    &:hover {
        background-color: #00446b;
    }
}

button {
    cursor: pointer;
}


@-webkit-keyframes btn {
    0% {
        border-top: 0px solid #00446b;
    }

    100% {
        border-top: 1px solid #00446b;
    }
}
