.link {
    color: white;
    text-decoration: none;

    &:hover {
        color: #00b5d6;
        text-decoration: underline;
    }
}

.link--scroll {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}