.navigation {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 7.5%;
    display: flex;
    justify-content: flex-end;

    li {
        list-style-type: none;
        padding-right: 20px;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;

        a:hover {
            animation: navHover 0.5s normal ease-in-out;
        }
    }
}

.logo--nav {
    width: 100px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 7.5%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.fp-viewing-section-prez, .fp-viewing-section-metiers, .fp-viewing-section-galerie, .fp-viewing-section-contact {

    .navigationContainer {
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        height: 50px;
        width: 100%;
        z-index: 2;
        animation: navSection 1.5s normal ease-in-out;
        animation-iteration-count: 1;
    }

    .logo--nav {
        width: 80px;
        margin-top: 5px;
        animation: navLogo 0.5s normal ease-in-out;
        animation-iteration-count: 1;
    }
}

.fp-viewing-section-prez .link-prez, .fp-viewing-section-metiers .link-metier, .fp-viewing-section-galerie .link-galerie, .fp-viewing-section-contact .link-contact {
    color: #00b5d6;
    text-decoration: underline;
}

// Animations Nav

@keyframes navSection {
    0%  { background-color: rgba(0, 0, 0, 0); }
    100%  { background-color: rgba(0, 0, 0, 0.6); }
}

@keyframes navLogo {
    0%  { width: 100px; margin-top: 1em; }
    100%  { width: 80px; margin-top: 5px; }
}

@keyframes navHover {
    0%  { color: #ffffff; }
    100%  { color: #00b5d6;}
}