p {
  color: #6b6b6b;
  margin: 0;
  line-height: 1.616em;
}

.big {
  font-size: 25px;
}

.medium {
  font-size: 20px;
}

.small {
  font-size: 12px;
}

.error {
  font-size: 12px;
  color: #00b5d6;
}