/* SECTION HOME */
.section--home {
    background-image: url("../img/bg-home.jpg");
    background-size: cover;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}

.logo--home {
    width: 400px;
    margin: 0 auto;
}

/* SECTION PRESENTATION */
.section--prez {

    .container {
        display: flex;
    }

  .section-left {
    background-image: url("../img/bg-section-2.jpg");
    background-size: cover;
  }
}